<h1>Stats Page</h1>

<div>
    <form action="/stats/create-stats" method="POST">
        <input type="hidden" name="Id" value="<%= locals.Id %>">
        <input type="text" name="name" placeholder="eg.Odi">
        <input type="number" name="matches" placeholder="Matches">
        <input type="number" name="innings" placeholder="Innings">
        <input type="number" name="runs" placeholder="Runs">
        <input type="number" name="balls" placeholder="Balls">
        <input type="number" name="highest" placeholder="Highest Score">
        <input type="number" name="sr" placeholder="Strike Rate">
        <input type="number" name="notout" placeholder="Not Outs">
        <input type="number" name="fours" placeholder="4s">
        <input type="number" name="sixes" placeholder="6s">
        <input type="number" name="ducks" placeholder="0s">
        <input type="number" name="fifties" placeholder="50s">
        <input type="number" name="hundreds" placeholder="100s">
        <input type="number" name="doublehundreds" placeholder="200s">
        <input type="number" name="triplehundreds" placeholder="300s">      
        <input type="number" name="fourhundreds" placeholder="400s">

        <input type="submit" value="Submit">
    </form>
</div>

<div>
    <div>
        <% if(locals.t20){ %>
            <h2>T20</h2>
            <a href="/stats/destroy-stats/<%= locals.t20._id %>">Delete</a>
            <p><b>Mathes:</b><%= t20.matches %></p>
            <p><b>Innings:</b><%= t20.innings %></p>
            <p><b>Runs:</b><%= t20.runs %></p>
            <p><b>50s:</b><%= t20.fifties %></p>
            <p><b>100s:</b><%= t20.hundreds %></p>
            <p><b>Average:</b><%= t20.average %></p>
        <% } %>
    </div>
    <div>
        <% if(locals.odi){ %>
            <h2>Odi</h2>
            <a href="/stats/destroy-stats/<%= locals.odi._id %>">Delete</a>
            <p><b>Mathes:</b><%= odi.matches %></p>
            <p><b>Innings:</b><%= odi.innings %></p>
            <p><b>Runs:</b><%= odi.runs %></p>
            <p><b>50s:</b><%= odi.fifties %></p>
            <p><b>100s:</b><%= odi.hundreds %></p>
            <p><b>Average:</b><%= odi.average %></p>
        <% } %>
    </div>
    <div>
        <% if(locals.test){ %>
            <h2>Test</h2>
            <a href="/stats/destroy-stats/<%= locals.test._id %>">Delete</a>
            <p><b>Mathes:</b><%= test.matches %></p>
            <p><b>Innings:</b><%= test.innings %></p>
            <p><b>Runs:</b><%= test.runs %></p>
            <p><b>50s:</b><%= test.fifties %></p>
            <p><b>100s:</b><%= test.hundreds %></p>
            <p><b>Average:</b><%= test.average %></p>
        <% } %>
    </div>
</div>